<%- include('../partials/header') %>

<div id='transactions'>
    <section>
<h3>Income items</h3>

<% if (business.incomes.length) { %>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% business.incomes.forEach(function(i) { %>
          <tr>
            <td><%= i.item %></td>
            <td><%= `$${i.amount}` %></td>
        </tr>
        <% }); %>
        <tr>
            <td class='add-more'>
                <a href="/businesses/<%= business._id %>/income/new">+</a>
            </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Income Added</h5>
  <% } %>
</section>

<section>
  <h3>Expense items</h3>

<% if (business.expenses.length) { %>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% business.expenses.forEach(function(e) { %>
          <tr>
            <td><%= e.item %></td>
            <td><%= `$${e.price}` %></td>
          </tr>
        <% }); %>
        <tr>
            <td class='add-more'>
                <a href="/businesses/<%= business._id %>/expenses/new">+</a>
            </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Expenses Added</h5>
  <% } %>
</section>
</div>

<%- include('../partials/footer') %>