<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <nav>
        <% if (business[0] !== undefined){ %>
        <a href="/businesses">Home</a>
        <a href="/businesses/customers">Customers</a>
        <a href="/businesses/transactions">Transactions</a>
        <% } else { %> 
            <% } %>
        <a href="/auth/google" class='log'> Login with Google</a>
        <a href="/logout" class='log'>Log Out</a>
    </nav>
    <main>

<% if (business[0] !== undefined){ %>
    <% let incomeCounter = 0; %> 
    <% let expenseCounter = 0; %> 
    <h3 id='business-name'><%= business[0].name %></h3><br>

    <% business[0].incomes.forEach(function(i) { %> 
        <% incomeCounter += i.amount %> 
    <% }); %>

    <% business[0].expenses.forEach(function(e) { %> 
        <% expenseCounter += e.price %> 
    <% }); %>
    <section id='home-section'>
    <h4>Income Statement</h4>

        <table>
            <tbody>
                <tr>
                  <td>Income:</td>
                  <td><%= `$${incomeCounter}` %></td>
              </tr>
              <tr>
                  <td>Expenses:</td>
                  <td><%= `$${expenseCounter}` %></td>
              </tr>
              <tr>
                <td>Revenue:</td>
                <td class='revenue'><%= `$${incomeCounter-expenseCounter}` %></td>
            </tr>
            </tbody>
          </table>
        </section>


<% } else { %> 
    <p>No business created.</p>
    <a href="/businesses/new" id='create-business'> Create a business here.</a>


<% } %>


<%- include('../partials/footer') %>