<%- include('../partials/header') %>
<p><%= user._id %></p>
<p>Business</p>



<p><%= business.name %></p>
<p><%= business.income %></p>
<p><%= business.expenses %></p>




<%- include('../partials/footer') %>