<%- include('../partials/header') %>

<h3>Customer List</h3>

<% if (business.customers.length) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% business.customers.forEach(function(c) { %>
          <tr>
            <td><%= c.name %></td>
            <td><%= c.address %></td>
            <td>
            <form action="/businesses/<%= business._id %>/customers/<%= c._id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
            </td>
            <td>
                <a href="/businesses/<%= business._id %>/customers/<%= c._id %>/edit">Edit</a>
            </td>
          </tr>
        <% }); %>
        <tr>
          <td class='add-more'>
            <a href="/businesses/<%= business._id %>/customers/new">+</a>
          </td>
      </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Customers Added</h5>
  <% } %>


<%- include('../partials/footer') %>